@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Sintony:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.nuxt-link-exact-active {
  opacity: 1 !important;
}

@layer base {
  html {
    font-family: 'Sintony', sans-serif;
  }
  .logo-font {
    font-family: 'Delicious Handrawn', cursive;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .background-green {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    z-index: -1;
    background-image: linear-gradient(90deg,rgba(126,167,233,1),rgba(16, 185, 129,1));
    filter:hue-rotate(0deg);
    -webkit-mask-image:radial-gradient(farthest-side at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  }

  .background-dots {
    position: absolute;
    background-image: url('/images/dots.svg');
    background-repeat: repeat;
    background-position: right top;
    background-size: 20px, 20px;
    mix-blend-mode: overlay;
    inset: 0px;
  }
}